.click_icon{
    position: relative;
    bottom: 70px;
    width: 240px;
    height: 100px;
}

.second_text{
    font-size: 19pt;
}

.header_card{
    font-size: 35pt;
}

.app{
    letter-spacing: .1rem;
    font-weight: 100;
    color: black;
}
.slash_number{
    font-size: 49pt;
    position: relative;
    top:-24px;
    right: 10px;
    color: black;
    font-width: 100;
}

.slash{
    position: absolute;
    bottom: -23px;
    right: -11px;
    font-weight: 100;
}
.image_bottom1{
    right: -30%;
    bottom: 106px;
    width: 300px;
    height: 400px;
}
.left_image{
    top: 0px;
    width: 90vw;
    height: 60vh;
    overflow: hidden;
}


@media (min-width: 500px) {
    .image_bottom1{
        right: -6%;
        bottom: 136px;
    }
}
@media only screen and (min-width: 769px) {
    .second_text{
        font-size: 21pt;
    }

    .header_card{
        font-size: 44pt;
    }
    .image_bottom1{
        right: -5%;
        bottom: 0px;
        width: 400px;
        height: 500px;
    }
    .left_image{
        width: 60vw;
    }
}
@media only screen and (min-width: 992px) {
    .image_bottom1{
        right: -10%;
        bottom: 79px;
        width: 400px;
        height: 500px;
    }
    .left_image{
        width: 40vw;
    }
}
@media only screen and (min-width: 1200px) {
    .image_bottom1{
        right: -1%;
        bottom: 77px;
        width: 400px;
        height: 500px;
    }
}
@media only screen and (max-width: 400px) {
    .image_bottom1{
        right: -25%;
        bottom: 91px;
        width: 250px;
        height: 350px;
    }
    .second_text{
        font-size: 15pt;
    }

    .header_card{
        font-size: 36pt;
    }
}




