.click_icon{
    position: relative;
   bottom: 20px;
}

.image_bottom{
    bottom: -85px;
    right: -5%;
    z-index: 1;
}


.header_card{
    letter-spacing: .8rem;
    font-weight: 250;

}

.app{
    letter-spacing: normal;
    font-weight: normal;
    color: black;
}
.slash_number{
    font-size: 3rem;
    position: relative;
    top:-24px;
    right: 10px;
    color: black;
}

.slash{
    position: absolute;
    bottom: -23px;
    right: -11px;
}


@media only screen and (max-width: 850px) {
    .image_bottom{
        z-index: 0;
    }
}
@media only screen and (min-width: 1200px) {
    .image_bottom{
        z-index: 0;
        right: 3px;
    }
}

@media only screen and (min-width: 1300px) {
    .image_bottom{
        right: 7%;
    }
}
@media only screen and (min-width: 1800px) {
    .image_bottom{
        right: 12%;
    }
}
@media only screen and (min-width: 2000px) {
    .image_bottom{
        right: 16%;
    }
}


