
.image_bottom{
    bottom: 7%;
    right: 5%;
    z-index: 1;
}


.header_card{
    letter-spacing: .7rem;
    font-weight: normal;
}
.slash_number{
    font-size: 3rem;
    position: relative;
    top:-24px;
    right: 10px;
    color: black;

}

.slash{
    position: absolute;
    bottom: -23px;
    right: -11px;
}

@media only screen and (max-width: 1100px) {
    .image_bottom{
        bottom: 6%;
        right: 1%;
    }
}

@media only screen and (max-width: 1000px) {
    .image_bottom{
        z-index: 0;
    }

}

