.first_page_background{
   height: 100%;
   position: absolute;
   top: 0px;
   background-image: url("../public/images/page_1/firstpage_backgound.png");
   width: 100%;
   background-size: 100% 100%;
}

.top_left_image{
   margin-top: 40px;
   margin-left: 26px;
   transition: .3s;
}
.logo{
   top: 64%;
   right: -1%;
   z-index: 10;

}


.header_top{
   font-size: 3rem;
   letter-spacing: 1rem;
   color: black;
   font-weight: normal;
}
.header_middle{
   font-size: 5rem;
   letter-spacing: 1rem;
   color: black;
   font-weight: bold;

}
.header_bottom{
   font-size: 3rem;
   letter-spacing: 1rem;
   color: black;
   font-weight: normal;
}



@media only screen and (max-width: 768px) {
   .top_left_image{
      margin-top: 0px;
      margin-left: 0px;
      width: 140px;
      height: 140px;
   }
   .first_page_background h4{
      font-size: 1.5rem;
   }


   .header_top{
      font-size: 2.5rem;
      letter-spacing: .7rem;
   }
   .header_middle{
      font-size: 4rem;
      letter-spacing: .7rem;


   }
   .header_bottom{
      font-size: 2.5rem;
      letter-spacing: .7rem;
   }
}
