
.gold_top_horizontal{
    display: none;
}
.gold_top_vertical{
    display: block;
}

.goldBotomV {
    display: block;
    top:-100px;
}

.goldBotomH {
    display: none;
}

.top_left_image_v {
    width: 100px;
    height: 100px;
    top: -10px;
    left: 15px;
    display: block;
}

.top_left_image_h {
    display: none;
}

.top_left_image_container {
    height: auto;
}

.logo {
    width: 280px;
    height: 200px;
}

.header_top {
    font-size: 1.7rem;
    font-weight: 100;
}

.header_middle {
    font-size: 2.9rem;
    color: #464444;


}

.header_bottom {
    font-size: 1.7rem;
    font-weight: 100;
}

.right_image_v {
    display: block;
    width:340px;
    height:500px ;
    top:0px;
    right:0px;
}

.right_image_h {
    display: none;
}

.bottom_gold_container{
    height: 205px;
}

.logo_horizontal{
    width: 329px;
    height: 260px;
    right: -36px;
    top: 39px;
}
.text_second{
    font-size: 1.4rem;
}

.logo_vertical {
    width: 177px;
    height: 134px;
    top: 53px;
    right: 22px;
}


/* media */
@media (min-width: 1000px) {
    .logo_horizontal{
        width: 327px;
        height: 263px;
        right: 0px;
        top: 28px;
    }
}
@media  (min-width: 769px) {
    .gold_top_horizontal{
        display: block;
    }
    .gold_top_vertical{
        display: none;
    }
    .text_second{
        font-size: 21pt;
    }
    .bottom_gold_container{
        height: auto;
    }
    .right_image_v {
        display: none;
    }

    .right_image_h {
        display: block;
    }

    .top_left_image_v {
        display: none;
    }

    .top_left_image_h {
        display: block;
        width: 165px;
        height: 165px;
        top: -180px;
        right: -70px;
    }

    .top_left_image_container {
        height: 0px;
    }

    .header_top {
        font-size: 31pt;
        font-weight: 100;
    }

    .header_middle {
        font-size: 77pt;
        color: #464444;
    }

    .header_bottom {
        font-size: 31pt;
        font-weight: 100;
    }

    .goldBotomV {
        display: none;
    }

    .goldBotomH {
        display: block;
    }

}

@media (min-width: 601px) and (max-width: 768px) {
    .header_top{
        font-size: 1.5rem ;
    }
    .header_middle{
        font-size: 3.3rem;
    }
    .header_bottom{
        font-size: 1.5rem;
    }
    .text_second{
        font-size: 1.5rem;
    }
}

@media (max-width: 600px) {
    .right_image_v{
        width: 300px;
        height: 480px;
    }
    .text_second{
        font-size: 1.3rem;
    }
    .header_top {
        font-size: 1.4rem;
    }

    .header_middle {
        font-size: 2.6rem;

    }

    .header_bottom {
        font-size: 1.4rem;

    }
}

@media (min-width: 401px) and (max-width: 500px)  {
    .right_image_v{
        width: 275px;
        height: 450px;
    }
    .logo_vertical {
        top: 80px;
        right: 0px;
    }
}
@media (min-width: 351px) and (max-width: 400px) {
    .right_image_v{
        width: 250px;
        height: 410px;
    }
    .text_second{
        font-size: 1.1rem;
    }
    .header_top {
        font-size: 1.1rem;
    }

    .header_middle {
        font-size: 2.2rem;

    }

    .header_bottom {
        font-size: 1.1rem;

    }

    .logo_vertical{
        top: 103px;
        right: 0px;
    }


}

@media (max-width: 350px) {
    .right_image_v{
        width: 210px;
        height: 400px;
    }
    .logo_vertical {
        top: 133px;
        right: -7px;
    }
    .text_second{
        font-size: 1rem;
    }
    .header_top {
        font-size: 1rem;
    }

    .header_middle {
        font-size: 2.1rem;

    }

    .header_bottom {
        font-size: 1rem;

    }
}






