.goldBotomV{
    display: block;
}

.goldBotomH{
    display: none;
}

.top_left_image_v {
    width: 120px;
    height: 120px;
    top:-10px;
    left: 15px;
    display: block;
}

.top_left_image_h{
    display: none;
}
.top_left_image_container{
     height: auto;
}

.logo {
    width: 280px;
    height: 200px;
}

.header_top{
    font-size: 1.8rem;
    font-weight: 100;
}
.header_middle{
    font-size: 3rem;
    color: #464444;


}
.header_bottom{
    font-size: 1.8rem;
    font-weight: 100;
}
.right_image_v{
    display: block;
}
.right_image_h{
    display: none;
}
@media only screen and (min-width: 769px) {
    .right_image_v{
         display: none;
    }
    .right_image_h{
        display: block;
    }
    .top_left_image_v{
        display: none;
    }
    .top_left_image_h{
        display: block;
        width: 200px;
        height: 200px;
        top:-140px;
        right: -50px;
    }

    .top_left_image_container{
        height: 0px;
    }

    .header_top{
        font-size: 3rem;
        font-weight: 100;
    }
    .header_middle{
        font-size: 4rem;
        color: #464444;
    }
    .header_bottom{
        font-size: 3rem;
        font-weight: 100;
    }

    .goldBotomV{
        display: none;
    }

    .goldBotomH{
        display: block;
    }

}

