.goldBotomV {
    display: block;
    top:-100px;
}

.goldBotomH {
    display: none;
}

.top_left_image_v {
    width: 100px;
    height: 100px;
    top: -10px;
    left: 15px;
    display: block;
}

.top_left_image_h {
    display: none;
}

.top_left_image_container {
    height: auto;
}

.logo {
    width: 280px;
    height: 200px;
}

.header_top {
    font-size: 1.7rem;
    font-weight: 100;
}

.header_middle {
    font-size: 2.9rem;
    color: #464444;


}

.header_bottom {
    font-size: 1.7rem;
    font-weight: 100;
}

.right_image_v {
    display: block;
}

.right_image_h {
    display: none;
}

.bottom_gold_container{
    height: 0px;
}

.logo_horizontal{
    width: 332px;
    height: 283px;
    right: -10px;
    top: 118px;
}
.text_second{
    font-size: 1.4rem;
}

@media only screen and (min-width: 769px) {
    .text_second{
        font-size: 21pt;
    }
    .bottom_gold_container{
        height: auto;
    }
    .right_image_v {
        display: none;
    }

    .right_image_h {
        display: block;
    }

    .top_left_image_v {
        display: none;
    }

    .top_left_image_h {
        display: block;
        display: block;
        width: 234px;
        height: 219px;
        top: -210px;
        right: -70px;
    }

    .top_left_image_container {
        height: 0px;
    }

    .header_top {
        font-size: 31pt;
        font-weight: 100;
    }

    .header_middle {
        font-size: 77pt;
        color: #464444;
    }

    .header_bottom {
        font-size: 31pt;
        font-weight: 100;
    }

    .goldBotomV {
        display: none;
    }

    .goldBotomH {
        display: block;
    }

}

.logo_vertical {
    width: 167px;
    height: 128px;
    top: 88px;
    right: 7px;
}

@media (max-width: 600px) {
    .header_top {
        font-size: 1.4rem;
    }

    .header_middle {
        font-size: 2.6rem;

    }

    .header_bottom {
        font-size: 1.4rem;

    }
}
@media (max-width: 500px) and (min-width: 351px){
    .logo_vertical {
        top: 108px;
        right: 0px;
    }
}
@media (max-width: 350px) {
    .logo_vertical {
        top: 132px;
        right: 0px;
    }
    .header_top {
        font-size: 1.3rem;
    }

    .header_middle {
        font-size: 2.4rem;

    }

    .header_bottom {
        font-size: 1.3rem;

    }
}






