.container_background{
    background-image: url("../public/images/pge_9/weChate.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: white;
}
