.ex_up_vertical{
    background-color: #f9f0f0;
    font-size: 1.1rem;
    top:  216px;;
    right: 5%;
    z-index: 2;
    display: block;
    outline: 3px solid #dadae5;
}
.ex_down_vertical{
    background-color: #f9f0f0;
    font-size: 1.1rem;
    bottom: 92px;
    right: 5%;
    z-index: 2;
    display: block;
    outline: 3px solid #dadae5;
}

.ex_up_horizontal{
    background-color:#f9f0f0;
    font-size: 1.3rem;
    top: 108px;
    right: 20%;
    z-index: 2;
    display: block;
    outline: 3px solid #dadae5;
}

.ex_down_horizontal{
    background-color:#f9f0f0;
    font-size: 1.3rem;
    bottom: 58px;
    right: 20%;
    z-index: 2;
    display: block;
    outline: 3px solid #dadae5;
}

.text_title{
    position: absolute;
    top: 0;
}

.title1{
    font-size: 3rem;
    letter-spacing: .5rem;
}
.title2{
    font-size: 3rem;
    letter-spacing: .5rem;
}

.text_title_vertical{
    position: absolute;
    top: 40px;
}


.title1_vertical{
    font-size: 2.4rem;
    letter-spacing: .3rem;
}
.title2_vertical{
    font-size: 2.4rem;
    letter-spacing: .3rem;
}
.image_h{
    display: none;
}
.image_v{
    display: block;
    padding-top: 30px;
}

.image_v_c{
    width: 100vw;
    height: 100%;
}
.click_icon_vertical{
    width: 222px;
    height: 108px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.click_icon_horizontal{
    width: 300px;
    height: 140px;
    top: -47px;
    left: 44px;
}
@media (min-width: 769px) {
    .image_h{
        display: block;
    }
    .image_v{
        display: none;
    }

    .text_title{
        top: 50%;
        left: 4%;

    }

}

@media (min-width: 601px) and (max-width: 762px){
    .ex_up_vertical{
        right: 28%;
    }

    .ex_down_vertical{
        right: 24%;
    }
}


@media (min-width: 500px) and (max-width: 600px){
    .ex_up_vertical{
        right: 23%;
    }

    .ex_down_vertical{
        right: 19%;
    }
}

@media (min-width: 450px) and (max-width: 500px) {
    .ex_up_vertical{
        right: 15%;
    }

    .ex_down_vertical{
        right: 15%;
    }
}

@media (min-width: 400px) and (max-width: 449px) {
    .ex_up_vertical{
        right: 15%;
    }

    .ex_down_vertical{
        right: 15%;
    }

}


@media (max-width: 400px) {

    .title1_vertical{
        font-size: 2rem;
        letter-spacing: .2rem;
    }
    .title2_vertical{
        font-size: 2rem;
        letter-spacing: .2rem;
    }

}
