.image_vertical_container{
    width: 100%;
    position: relative;
    margin:0px;
    padding:0px;
    height: 0px;
    display: none;
}
.image_horizontal_container{
    width: 90%;
    position: absolute;
    margin:0px;
    padding:0px;
    height: 100vh;
    display: block;
}

.text_title{
    font-size: 9rem;
    letter-spacing: 12px;
    background-color: blue;
}
.ex_up_horizontal{
    background-color:#f9f0f0;
    font-size: 1.3rem;
    top:60px;
    right: 20%;
    z-index: 2;
    display: block;
}
.ex_down_horizontal{
    background-color:#f9f0f0;
    font-size: 1.3rem;
    bottom: 20px;
    right: 20%;
    z-index: 2;
    display: block;
}

.ex_down_vertical{
    background-color:#f9f0f0;
    font-size: 1rem;
    top:25%;
    right: 20%;
    z-index: 2;
    display: none;
}

.ex_up_vertical{
    background-color:#f9f0f0;
    font-size: 1rem;
    bottom: 10%;
    right: 20%;
    z-index: 2;
    display: none;
}

@media only screen and (max-width: 575px) {
    .image_vertical_container{
        height: 85vh;
        display: block;

    }
    .image_horizontal_container{
        display: none;
        height: 0px;
    }
    .text_title{
        font-size: 2.5rem;

    }

    .ex_down_horizontal{
        display: none;
    }
    .ex_up_horizontal{
        display: none;
    }
    .ex_up_vertical{
        display: block;
    }
    .ex_down_vertical{
        display: block;
    }
}

@media only screen and (min-width: 1100px) {
    .text_title{
        font-size: 6rem;
        width: 450px;
    }
}
