.like_1{
    left: -105px;
}
.love_1{
    right: 123px;
    top: 182px;
}
.love_2{
    right: 50px;
    top: 285px;
}
.like_2{
    width: 140px;
    height: 140px;
    right: -42px;
    top: 250px;
}
.click_icon{
    width: 220px;
    height: 60px;
    top:0px;
}
@media only screen and (max-width: 600px) {
    .like_1{
        left: -65px;
    }
    .love_1{
        right: 80px;
    }
}
.header1{
    font-size: 46pt;
}
.header_icon{
    position: relative;
    width: 200px;
    height: 100px;
}
@media only screen and (min-width: 992px) {
    .bottom_1{
        bottom: 40px;
    }
    .bottom_2{
        bottom: 60px;
    }

    .like_1{
        top: -277px;
    }
    .love_1{
        top: -150px;
    }
    .love_2{
        right: -2px;
        top: -74px;
    }
    .like_2{
        right: -52px;
        top: -45px;
    }
    .last_row{
        height: 105px;
    }
    .click_icon{
        top:30px;
    }
    .click_icon_row{
        height: 0px;
    }
}
@media only screen and (max-width: 500px) {
    .click_icon{
        width: 170px;
        height: 50px;
    }
    .header1{
        font-size: 30pt;
    }
    .header_icon{
        width: 150px;
        height: 70px;
    }
}
