.click_icon_container{
    position: absolute;
    bottom: -10px;
    left:50%;
    transform: translateX(-50%);

}



.check_icon{
    position: absolute;
    right: -10px;
    top:20px;
    width: 40px;
    height: 40px;
    color: #7a5506;
}

.header_card{
    letter-spacing: .3rem;
    font-size: 2.4rem;

}

@media screen and(max-width: 600px) {
    .header_card{
        letter-spacing: .4rem;
        font-size: 2.5rem;
    }
    .click_icon{
        bottom: 30%;
    }
}
.middleImage_vertical{
    display: block;
}
.middleImage_horizontal{
    display: none;

}
@media only screen and (min-width: 769px) {
    .middleImage_vertical{
        display: none;
    }
    .middleImage_horizontal{
        display: block;
    }


}
@media (min-width: 796px) and (max-width: 950px) {
    .wechatH{
        width: 90%;
    }
}
