.click_icon_container{
    position: absolute;
    bottom: -10px;
    left:50%;
    transform: translateX(-50%);

}

.check_icon{
    position: absolute;
    right: -10px;
    top:20px;
    width: 40px;
    height: 40px;
    color: #7a5506;
}

.header_card_horizontal{
    display: none !important;
    font-size: 52pt;
}
.header_card_vertical{
    display: block !important;
    font-size: 40pt;
}

.middleImage_vertical{
    display: block;
}
.middleImage_horizontal{
    display: none;

}
.header_title{
    display: none !important;
    font-size: 27pt;

}
.header_title_horizontal{
    display: block !important;
    font-size: 27pt;
}

.icon_right{
    width: 30px;
    height: 30px;
    top: 13px;
    right: -11px;
}
@media  (min-width: 769px) {
    .header_card_horizontal{
        display: block !important;
    }
    .header_card_vertical{
        display: none !important;
    }
    .middleImage_vertical{
        display: none;
    }
    .middleImage_horizontal{
        display: block;
    }
    .header_title{
        display: block !important;
    }
    .header_title_horizontal{
        display: none !important;
    }

}
@media (min-width: 796px) and (max-width: 950px) {
    .wechatH{
        width: 90%;
    }
}
@media screen and(max-width: 600px) {
    .click_icon{
        bottom: 30%;
    }
}

